@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
	
	html,body,div,span,applet,object,iframe,
	h1,h2,h3,h4,h5,h6,p,blockquote,pre,
	a,abbr,acronym,address,big,cite,code,
	del,dfn,em,img,ins,kbd,q,s,samp,
	small,strike,strong,sub,sup,tt,var,
	b,u,i,center,
	dl,dt,dd,ol,ul,li,
	fieldset,form,label,legend,
	table,caption,tbody,tfoot,thead,tr,th,td,
	article,aside,canvas,details,embed,
	figure,figcaption,footer,header,hgroup,
	menu,nav,output,ruby,section,summary,
	time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	
	/* HTML5 display-role reset for older browsers */
	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section{display:block;}
	body{line-height:1;}
	ol,ul{list-style:none;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,
	q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	
/**********************************************************************************************************
				Main
**********************************************************************************************************/
#wrapper{
	width:1000px;
	height:1400px;
	margin:0 auto;	
}

#header{
	width:840px;
	height:128px;
	background:url(../images/songbird.png) top left no-repeat;
	margin-left:20px;
	padding-left:140px;	
	font-size:48px;
}

#header h1{
	padding-top:70px;	
}

h2{
	font-size:24px;
	margin:10px 0;	
}

#wrapper.start{
	width:1000px;
	height:1400px;
	margin:0 auto;	
}

#wrapper.start #header{
	width:840px;
	height:128px;
	background:url(../images/songbird.png) top left no-repeat;
	margin-left:20px;
	padding-left:140px;	
	font-size:48px;
}

#wrapper.start #header h1{
	padding-top:70px;	
}

#wrapper.start h2, #wrapper.set h2,#wrapper.go h2,#wrapper.pause h2{
	font-size:24px;
	margin:10px 0;	
}

#wrapper.start .feelings h2
{
	text-align:center;
	position: relative;
	z-index: 5;
}

/**********************************************************************************************************
				RaceTrack
**********************************************************************************************************/
#racetrack{
	width:1000px;
	height:600px;
	padding-top:20px;
	background:url(../images/racktrack.jpg) top left no-repeat;	
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

#racetrack::after
{
	content:"";
	width: 1000px;
	height:600px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	display: block;
	opacity: 0;

	-webkit-transition: opacity 600ms ease-out 0s;
    -moz-transition: opacity 600ms ease-out 0s;
    -o-transition: opacity 600ms ease-out 0s;
    transition: opacity 600ms ease-out 0s;
}

.racer{
	width:1000px;
	height:128px;
	margin-bottom:10px;
	position:relative;

    

}

.racer img{
	position:absolute;
	top:0;
	left:0;
	-moz-transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	transform:rotate(20deg);	

	-webkit-transition: left 100ms ease-out 0s;
    -moz-transition: left 100ms ease-out 0s;
    -o-transition: left 100ms ease-out 0s;
    transition: left 100ms ease-out 0s;

    -webkit-transition: top 600ms ease-out 0s;
    -moz-transition: top 600ms ease-out 0s;
    -o-transition: top 600ms ease-out 0s;
    transition: top 600ms ease-out 0s;
}

#wrapper.start #racetrack::after, #wrapper.exit #racetrack::after{
	
	opacity: 1;
	
}
#wrapper.set #racetrack::after{
	
	opacity: 0;
	
}

#wrapper.start.set #racetrack{
	
	background:url(../images/racktrack.jpg) top left no-repeat;	

}

#wrapper.start .racer, #wrapper.exit .racer{
	width: 25%;
	height:128px;
	margin-top: 130px;
	margin-bottom:10px;
	position:relative;	
	float: left;
	z-index: 6;
}

#wrapper.start .racer img, #wrapper.exit .racer img{
	position: relative;
	/* top:0; */
	/* left:0; */
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;	
	margin: 0 auto;
	text-align: center;
	width: 50%;
	padding: 0 25%;

	
}

#wrapper.start.racer img
{
	top:0px;
}

#wrapper.exit.pause .racer img
{
	top:-500px;
}


#wrapper.start.set .racer img, #wrapper.exit .racer img{
	position: relative;
	top:-800px; 
	
		
}


#wrapper.go .racer img{
	position:absolute;
	top:0;
	left: -150px !important;
	-moz-transform:none;
	-webkit-transform:none;
	-o-transform:none;
	transform:none;
}



.feelings
{
	opacity:0;
	-webkit-transition: opacity 100ms ease-out 0s;
    -moz-transition: opacity 100ms ease-out 0s;
    -o-transition: opacity 100ms ease-out 0s;
    transition: opacity 100ms ease-out 0s;
}

#wrapper.start .feelings
{
	opacity:1;
	z-index: 5;
}

#wrapper .feelings p
{
	position:absolute;
	bottom: -60px;	
	height: 40px;
	width: 80%;
	padding: 0 10%;
}

.feelings p span
{
	font-size:1.6em;
	float:left;
	font-weight:normal;
}


#wrapper.start.set .feelings
{
	opacity:0;
}



/**********************************************************************************************************
				Status Box
**********************************************************************************************************/
#statusbox{
	width:600px;
	height:400px;
	float:left;	
}

#statusbox p{
	margin-bottom:5px;	
}

span.mod{
	display:none;
}

#wrapper.start #statusbox{
	width:600px;
	height:400px;
	float:left;		
}

#wrapper.start #statusbox p{
	margin-bottom:5px;		
}

#wrapper.start  span.mod{
	display:none;
}


/**********************************************************************************************************
				Betting Box
**********************************************************************************************************/
#bettingbox{
	width:400px;
	height:400px;
	float:right;
	text-align:right;	
}

#bettingbox p{
	margin-bottom:5px;	
}

#wrapper.start #bettingbox{
	width:400px;
	height:400px;
	float:right;
	text-align:right;	
}

#wrapper.start #bettingbox p{
	margin-bottom:5px;	
}